.menu-page {
    margin-top: 2rem;
    color: var(--primary-text-color);
    font-family: monospace;
}

.menu-page > .title {
    font-size: 5rem;
}

.menu-page > .description {
    text-align: center;
    width: 50%;
}

.classic-donuts {
    display: flex;
    flex-direction: column;
    text-align: center;

    row-gap: 10rem;
    margin-top: 8rem;
}

.donut-name {
    display: flex;
    flex-direction: column;

    font-size: 2rem;
}