.about-page {
    font-family: monospace;
    color: var(--primary-text-color);
}

.about-page > .title {
    font-weight: normal;
    font-size: 5rem;
}

.about-page > .description {
    margin-top: 10px;
    text-align: center;
    width: 50%;
}

.restaurant-location {
    margin-top: 5rem;
}

.restaurant-contact,
.restaurant-business-hours {
    margin-top: 3rem;
}

.restaurant-location, .restaurant-contact,
.restaurant-business-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
}