*, *::before, *::after {
    box-sizing: border-box;
}
  

* {
    margin: 0;
    padding: 0;
}


:root {
    --primary-theme-color: #caf0f8;
    --primary-text-color: #03045e;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    padding: 10px;
    background-color: var(--primary-theme-color);
}


li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-evenly;

    font-size: 1rem;
    position: relative;

    margin-top: 20px;

}

li.nav-btn {
    position: relative;
}


.nav-btn.cover {
    background-color: #023e8a;
    color: var(--primary-theme-color);
}

.nav-btn.hidden {
    background-color: transparent;
    color: #03045e;
}


.nav-btn {
    border-radius: 20px;
    border: solid 1px #03045e;
    padding: 10px 20px 10px;
    cursor: pointer;
    text-transform: uppercase;

    font-family: monospace;
    font-weight: bold;

    transition: 0.3s;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    margin-top: 10rem;
}



.home-page, .menu-page, .about-page {
    display: flex;
    align-items: center;
    flex-direction: column;
}